<header>
    <nav class="header">
        <div class="nav-left">
        <h1>DSYSTEM</h1>
        <div class="links">
            <a href="#">Beginnig</a>
            <a href="#">services</a>
            <a href="#">about</a>
        </div>
        </div>
        <div class="actions">
        <a href="/login" id="si">Sing In</a>
        <a href="/register" id="su">Sing Up</a>
        </div>
    </nav>
</header>
<main class="content">
    <section class="description">
        <p>
        DSYSTEM IS A WEBPAGE THAT ALLOWS YOU TO QUICKLY AND EFFICIENTLY MANAGE THE
        MEDICAL RECORDS OF PATIENTS IN A HEALTH COMPANY
        </p>
        <div class="about">
            <a id="ab" href="#">About</a>   
        </div>
    </section>
    <aside>
        <img
        src="/assets/Logo.png"
        class="imagen"
        alt="logo de la paguna de Dsystem"
        />
    </aside>
</main>

<%- contentFor('title') %>
Health-Cloud

<%- contentFor('styles') %> 
<link rel="stylesheet" href="/css/home.css">